nav{

    color: antiquewhite;
    border-style: double;
    border-color: black;
}
nav li a {
    text-decoration: none;
}
nav ul{
    text-decoration: none;
}
nav li{
    color: rgb(239, 40, 73);
    text-decoration-line: underline;
    font-family: sans-serif;
    display: inline-flex;
    margin-left: 20px;
}
.alldiv{
    background-color: rgb(193, 239, 239);
    width: 200px;
    height: 350px;
    border: 2px solid brown;
    margin: 150px 0px 0px 150px;
    display: block;
    color: rgb(239, 40, 73);
    font-size: 20px;
    font-family: sans-serif;
}
input{
    margin: 10px 0px 0px 5px;
    color: blue;
    font-size: 15px;
}
#section1{
    background-color: rgb(244, 226, 179);
    border: 1px solid black;
     width: 1240px;
    height: 600px;
    display: flex;
}
#section2{
    background-color: rgb(201, 240, 189);
    border: 1px solid black;
    width: 800px;
    height: 750px;
    margin-left: 200px;
}
table,th,td{

    border: 1px solid rgb(100, 229, 100);
}
th{
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0px 12px 0px 12px;
}
#div2{
    border: 1.5px solid black;
}
p{
    text-align: center;
}
.a{
    line-height: 12px;
    text-align: left;
    font-size: 1rem;
    font-family: sans-serif;
    color: black;
}
#g{
    margin: -30px 0px 0px 300px;
}
.b{
    font-size: 1.3rem;
    font-family: sans-serif;
}
body{
    background-color: rgb(244, 226, 179);   
}
h4{
    
    color: black;
    font-size: 1rem;
    margin-top: -25px;
}
button{
    color: rgb(244, 241, 241);
    background-color: rgb(136, 246, 136);
    margin: 30px 0px 0px 70px;
}
h1{
    color: black;
}